[2017-01-07 00:14] pydevops opened #1 "Does CFN keep the task def revision?"
If it doesn't, how does the CICD pipeline rollback to a previous revision if the deployment failed?

Thanks!

[2017-01-07 13:42] jpignata commented on #1
CloudFormation will wait for ECS to complete the deployment of the new task definition revision onto the service before cleaning up the old task definition revision. If you'd rather CloudFormation retain these revisions for later manual rollback, you can set an [UpdatePolicy](http://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-attribute-updatepolicy.html) on the TaskDefinition resour

[2017-01-07 13:42] #1 closed

[2017-03-10 17:59] davidham opened #2 "How to connect to a repo owned by a Github organization?"
Thanks so much for this project. I am trying to adapt it to a project at work, and I'm having trouble getting CodePipeline to read from a repo owned by my company's Github org. Is there an organization-level equivalent of the personal access token? If that needs to be an OAuth token, where do I find it?

[2017-03-11 02:31] jpignata commented on #2
Hey @davidham - my understanding is that a personal access token should work for organization repos, too, assuming you are an admin for that organization and grant the token full permissions for repo and admin:repo_hook. Let me know if you find out differently.

[2017-03-11 02:31] #2 closed

[2017-03-11 15:18] davidham commented on #2
Yup, must have been a different issue. Thanks!

[2017-03-24 15:39] mathewpower opened #3 "Updating a child stack directly can cause root stack to get stuck in UPDATE_ROLLBACK_FAILED"
It is very unadvisable to modify a child stack directly as this can cause the stack to get stuck in state which is hard to recover from.

If an update is being made to stack as a whole while a change is being made to a child stack and one fails, it can find it hard to roll back successfully. What tends to happen is a resource reports a status of being stable however another part of stack thinks it

[2017-03-24 15:49] jpignata commented on #3
Thanks! I'll look into this to see if the state issue you're referencing (an update happening within the main stack while a deployment is occurring, and a failure of either of those leaving the stack in a bad stack) has any mitigations or if we should restructure this.

Do you have any thoughts on a change to this reference architecture to mitigate this possibility?

[2017-03-24 16:03] jpignata commented on #3
One thought I had is perhaps the pipeline should update the parent stack instead of reaching into the nested stack directly. This means we'd need to expose parameters like tag and desired count in the main stack and find a way to pass back in its other necessary parameters.

[2017-03-24 19:21] mathewpower commented on #3
Changing the parent stack would be a good approach. I'm working on a project at the moment with a who load of microservices and we have come to the conclusion that having each service and each running task definition of that server (staging, production, etc) as their own stand alone stacks.

We will have CodePipeline instantiate the stack to - ie when the pipeline reaches the production stage, if

[2017-03-24 19:24] jpignata commented on #3
Thanks for the feedback. The approach you settled on seems right - the infrastructure and services have different change rates. The simplest change to make here might be to stop creating the service as a nested stack and let CodePipeline handle it on the first execution. I'll leave this issue open until I get a pull put together.

[2017-03-24 19:30] mathewpower commented on #3
Sounds good. When I get a chance to get something together I'll pop a link on here to. Would be interested in getting your feedback as well!

[2017-03-26 18:55] jpignata commented on #3
@mathewpower I still need to do another round of testing, but I opened https://github.com/awslabs/ecs-refarch-continuous-deployment/pull/4 for early review. Let me know if you have any comments.

[2017-03-30 14:58] jpignata commented on #3
Closed in favor of https://github.com/awslabs/ecs-refarch-continuous-deployment/pull/4

[2017-03-30 14:58] #3 closed

[2017-05-10 17:28] jpignata opened #7 "Ensure long IAM names do not cause failed deployments"
[05/10/17 12:26 PM] Pierre: one thing: the first time I ran, I called the whole stack john-ecs-cd
[05/10/17 12:27 PM] Pierre: and this made CodeDeploy fail because the deployment CFn stack failed because the IAM role name was longer than 64 chars

[2017-05-10 17:30] steckmey commented on #7
Pedantic accuracy: the stack name was actually `johns-ecs-cd`

[2017-05-12 14:10] jpignata opened #8 "Reference architecture should be deployable to any region"
#Feedback from Joshua:

We should deploy the necessary template bucket to every region where all necessary services are available so a user could deploy this to regions outside of US East (N. Virginia).

[2017-05-14 01:00] jpignata commented on #7
I wasn't able to get this to fail with `johns-ecs-cd`, but `really-long-stack-name-trying-to-cause-errors` did break the IAM resources created. https://github.com/awslabs/ecs-refarch-continuous-deployment/issues/9 should resolve this issue. Thanks!

[2017-05-14 01:00] #7 closed

[2017-05-14 02:21] jpignata commented on #8
Will be resolved in https://github.com/awslabs/ecs-refarch-continuous-deployment/pull/10. Thanks!

[2017-05-14 02:21] #8 closed

[2017-05-15 04:36] singlewind opened #11 "<Cluster> | <Service Name> already exits"
In the Deploy stage of my CD pipeline creates a TaskDefinition and Service in the ECS. I expect it recreates a TaskDefinition and update the Service when a new image has been pushed to ECR. However, the TaskDefinition was created but the Service failed to create and update because of the error.

 <Cluster> | <Service Name> already exits

I haven't specify Service Name in the template. Just leave t

[2017-05-15 14:33] jpignata commented on #11
Hmm, I'm unable to reproduce this. The CloudFormation step should create a new task definition and update the service, not attempt to recreate it. Is this the standard reference architecture or did you modify it for your purposes?

[2017-05-16 00:23] singlewind commented on #11
@jpignata thank you for reply me. Yes, I steal service template from you. I found another guy have exactly same problem like me. I think it happens when the stack have the same name already exists in the Cloudformation I try to update it via pipeline. And system will create another service first before remove the old one to try minimise the interruption of users. Is there a way we can specify the

[2017-05-16 01:02] jpignata commented on #11
Hmm, that shouldn't be necessary. You should be able to update the service. Sorry you had an issue - let us know if we can help.

[2017-05-16 01:02] #11 closed

[2017-05-22 02:17] tech-a-go-go opened #12 "Failed deploying on Tokyo region"
Failed deploying on Tokyo region due to the following error while creating VPC with cloudformation.

10:36:24 UTC+0900 CREATE_FAILED	AWS::EC2::Subnet	Subnet2	Value (ap-northeast-1b) for parameter availabilityZone is invalid. Subnets can currently only be created in the following availability zones: ap-northeast-1a, ap-northeast-1c.

FYI, Its stack id is arn:aws:cloudformation:ap-northeast-1:073730

[2017-05-22 02:29] jpignata commented on #12
It appears that the `GetAZs` function is returning an AZ that are available to your account but currently does not permit subnets to be created. I'll dig into see if there's some kind of workaround though I suspect you'll have to parameterize or hardcode the available zones within a fork of the templates.

[2017-05-23 13:53] tech-a-go-go commented on #12
Hi jpignata

Thank you for the info !

I will try it.

[2017-05-23 15:25] jpignata commented on #12
Thanks! Let me know if that doesn't work for you.

[2017-05-23 15:25] #12 closed

[2017-05-24 03:22] tech-a-go-go opened #13 "SSH login to the ec2 container instance."
Hi there,

Sorry for this stupid question...
I've successfully deployed ecs-demo-php-simple-app with these templates.

The ec2 container instance launched doesn't seem to have key-pair settings so I cannot login to the instance.  ( I want to login and check log files in it. )

How can I modify templates so that the ec2 container instance gets its key-pair setting and I can login ?

 Cheers

[2017-05-24 04:50] matthewcummings opened #14 "IAM doc"
It would be helpful if you documented which policies you need for the IAM role which you attach to this stack.  I ended up using the AdministratorAccess policy to just get this stack deployed and running.  Maybe that's necessary but it's not clear in the ReadMe.
Thanks!

Also, totally possible this is user error on my part.

[2017-05-24 05:06] tech-a-go-go commented on #13
I've figured out !
I added  KeyName parameter to the main yaml and pass it to ecs-cluster.yaml.
Thanks !

[2017-05-24 05:07] #13 closed

[2017-05-24 16:52] jpignata commented on #14
Oh, interesting. That's a good point. Will do!

[2017-06-26 05:52] komushi opened #17 "template files in ap-northeast-1"
Hi,

Thanks for the great material. We are from the ap-northeast-1 proserv.

SInce codebuild and codepipe are already available in ap-northeast-1 I was wondering if the templates files can be uploaded to the bucket in this region.

We would love to leverage this reference architecture with our customers. Having been asked by customers more and more regarding CICD and Container with managed service

[2017-07-02 14:20] jpignata commented on #17
Hi Lei! I've made the change to the deploy files and I'll execute it on Tuesday when I'm back in the office. Sorry for the delay.

[2017-07-05 17:06] jpignata commented on #17
I've deployed this to ap-northeast-1. Let me know if you have any issues.

[2017-07-05 17:06] #17 closed

[2017-07-05 17:07] jpignata commented on #14
Sorry, I've not had time to assemble this list. If you have time and want to open a pull, that'd be much appreciated!

[2017-07-05 17:07] #14 closed

[2017-09-06 22:12] frodeaa opened #18 "Quick questions"
Great reference arch!

Some questions about it

 - where should other services (RDS, SQS etc) be added?
 - how will the service be affected by updates in infrastructure (ecs-cluster.yaml, load-balancer.yaml). Will changing cluster instance type mean downtime for the service?

[2017-11-03 12:50] kgorskowski opened #21 "ECS Cluster Role not longer authorized to run cfn scripts"
Ok, I don't know what happened, but I am planning a service based on this reference infrastructure and as of yesterday it worked like a charm.
But today the Initialization via CloudFormation stopped working at all. The Autoscaling Instances that make up the ECS Cluster seem not longer be authorized to send signals to CloudFormation. So instead of adding itself to the cluster they remain in the "de

[2017-11-08 23:43] atteroAnimus opened #22 "no dockerfile"
Is the intention that whoever consumes this example provide his/her own source code and dockerfile?  I understood that it was a working example that could be modified.

It doesn't work when it's first forked as there is no code to build nor is there a dockerfile

[2017-11-08 23:55] dougtoppin commented on #22
Note that the first step is to fork their example repo into your GH account. That provides the Dockerfile that is later used. You are not actually using their repo but instead providing your own which is a copy.

[2017-11-08 23:56] soydantaylor commented on #22
I did fork the repo, but I don't see a dockerfile.  I can provide my own.  That's no problem.  I'm just asking if that was the intention

[2017-11-09 00:13] dougtoppin commented on #22
Make sure you are forking the example app repo (https://github.com/awslabs/ecs-demo-php-simple-app) and not the ref arch repo. The example app does have the Dockerfile.

[2017-11-09 00:18] soydantaylor commented on #22
That was the issue.  Thank you

[2017-11-09 00:18] #22 closed

[2017-11-20 13:36] jpignata commented on #18
I don't think I have a strong opinion on other resources. I'd say that depending on their change rate, it might make sense to define them within the same template as your service. If they change at a faster or slower rate, perhaps a separate template with exported outputs.

If you were to change the underlying instance types, you'd be swapping out launch configurations. You can control how Auto Sc

[2017-11-20 13:36] #18 closed

[2017-11-20 13:38] jpignata commented on #21
Hmm, I'm a little confused, are you using that ECS role in your CodePipeline pipeline?

[2017-11-20 13:38] #21 closed

[2017-12-09 13:41] maxwellimpact opened #23 "Intermixing JSON and YAML for Policies"
I noticed the use of JSON for the policies and I’m curious if this is an encouraged practice or what the advantage might be? My assumption is that it’s easier to copy and paste in from the web console. A few on our team were debating pure YAML or sticking with JSON for a policy.

https://github.com/awslabs/ecs-refarch-continuous-deployment/blob/3c62bd5c69402556c8307f987f38a389c9064651/templates/se

[2017-12-14 12:45] elpasta opened #25 "Outdated S3 template file for service"
Hello guys, there is a difference between the service template file in the S3 bucket referenced by the ecs-refarch-continuous-deployment.yaml file and the service template in the repo. The S3 bucket template file is looking for a Repsitory parameter you removed in the repo version. If you try to launch the stack you will get an error...

[2017-12-14 14:02] jpignata commented on #23
That's a good point. This reference architecture was originally written in JSON, so I left the policies as JSON for expediency when I converted it. So, basically, I was lazy. My opinion is that pure YAML would be the better choice as I'd favor consistency if there's no benefit to the co-mingling. I'll likely update this in a future pass. Hope that helps!

[2017-12-14 14:02] #23 closed

[2017-12-14 14:45] jpignata commented on #25
Thanks! I apparently botched an aspect of the deploy. I've addressed this and just finished testing. Please let me know if you see any further issues.

[2017-12-14 14:45] #25 closed

[2017-12-15 15:57] maxwellimpact commented on #23
@jpignata thanks for the response. makes sense!

[2017-12-18 01:59] elpasta commented on #25
I will... thanks!

[2017-12-31 03:18] geod opened #27 "Git parameters superfluous when image is hard coded"
Hi,

Template very useful Thanks.

One issue when trying to re-use

1. [ecs-refarch-continuous-deployment.yaml](https://github.com/awslabs/ecs-refarch-continuous-deployment/blob/master/ecs-refarch-continuous-deployment.yaml) has a bunch of parameters to supply your own repository. But .... within [templates/service.yaml](https://github.com/awslabs/ecs-refarch-continuous-deployment/blob/master/temp

[2017-12-31 03:37] jpignata commented on #27
The GitHubRepo is used to configure the pipeline -- the initial task definition that has the Docker image configured is just a placeholder until the pipeline's first execution. Make sense?

I don't know about your second point - I think I took the task definition whole cloth from [here][cfn-doc]. What's the benefit of changing it?

[cfn-doc]: https://docs.aws.amazon.com/AWSCloudFormation/latest/Us

[2017-12-31 04:01] geod commented on #27
Thanks for quick response

1. Think there may have been two things going on. My deploy stage of the pipeline was still running at 35 minutes. When I hit the service I saw the 'hello world' page from the  amazon/amazon-ecs-sample image. I assumed I had not replaced something correctly (rather than it being a default until the pipeline runs). Is it more intuitive to have the container blank till the

[2017-12-31 04:07] jpignata commented on #27
I'm not sure why your pipeline would be running for 35 minutes. DId it ever complete successfully?

As to the intuitive question - I'm not sure. CloudFormation requires the service to come up healthily and since we're deploying this service, using its configuration seemed natural. The instructions mention to commit a change to the index to watch it go through the pipeline which was is the intent o

[2017-12-31 04:16] geod commented on #27
To begin with I replicated using the launch stack from the page so I know it is me not you =). The only change I have made are running under a different account and also from the command line as opposed to console.  I killed it after 35 minutes so it did not get a chance.

Thanks. Was grepping to understand if it had an impact.

Thanks for your help - will close this one

[2017-12-31 04:16] #27 closed

[2018-01-23 06:18] froilan opened #30 "Deploy ECS FileName syntax"
Just a question with regards to the images.json syntax.
I'm struggling to find any documentation with regards to it.

[code]

Basing on this, I assume that valid keys are name and imageUri. Is that it, or are there others?
If you don't mind, can you share a link on any documentation?
[code]
Great templates, really helpful btw..

[2018-01-23 09:28] cueopsbot-cuelogic opened #32 "Not able to create VPC"
Getting below exception while launching stack in us-east-1 region.

![vpc_exception](https://user-images.githubusercontent.com/33514409/35267925-c9363fde-004d-11e8-9662-f92e99f98648.png)

[2018-01-23 09:59] cueopsbot-cuelogic commented on #32
Managed to launch stack..I changed the vpc template and configured AZs that is supported for my account. Just wanted to know the default AZs this cloudformation stack uses to create VPC, subnets etc.?

[2018-01-23 12:30] jpignata commented on #32
Hmm, I'm using the [`GetAzs`][getazs] intrinsic function to get Availability Zones that should work across users. From the docs:

Can you pass along the output of `aws ec2 describe-availability-zones` for the region in which you were trying to launch the template? Is it possible you have less than two default subnets?

Thanks!

[getazs]: https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGui

[2018-01-23 12:32] jpignata commented on #30
Sure! That's an images definitions file. It can contain multiple definitions if your ECS service runs a task definition that has multiple containers defined. See [CodePipeline documentation][docs] for more details.

Thanks!

[docs]: https://docs.aws.amazon.com/codepipeline/latest/userguide/pipelines-create.html#pipelines-create-image-definitions

[2018-01-23 12:32] #30 closed

[2018-01-23 13:53] froilan opened #33 "coupling of service.yaml on the continuous-deployment.yaml"
Since the service.yaml is defined in the ecs-refarch-continuous-deployment.yaml, whenever we have changes on that file like adding a new subnet, it will update the service back to using the initial image: "amazon/amazon-ecs-sample". Which might be undesirable.

Assuming my understanding is correct, any ideas how to mitigate that? Or how to go around it?

[2018-01-23 15:54] jpignata commented on #33
Thanks for opening this! Your understanding is definitely correct. It'll also reset parameters like the `DesiredCount` which also seems undesirable. ~~I think we're going to have to figure out a way to separate the service resources from the rest of the stack as we did in the previous iteration.~~ Thinking about this some more. that would be insufficient to address the example you provided above.

[2018-01-25 15:50] jpignata commented on #32
Closing for now - feel free to reach back out with more information so we can get to the root of the initial run's stack failure. Thanks!

[2018-01-25 15:50] #32 closed

[2018-01-25 19:47] jpignata commented on #33
I'm not sure there's a great answer here about how to handle both CloudFormation and CodePipeline mutating the same set of resources. If your goal is to manage your infrastructure using CloudFormation, you'd better served using CodePipeline's CloudFormation integration in order to create new task definitions and change the service's task definition ARN rather than using the native CodePipeline ECS

[2018-02-02 23:36] MarkPolivchuk opened #34 "How to update container environment variables"
I'm switching my application's deployment to CodePipeline and the ECS. Is there a way using this API to update the container's environment variables? Previously I was using the CLI to register the task definition as follows:

[code]
And whatever variables were set in `environment.json` would be loaded into the container. I can't find any documentation describing how to set this using CloudFormatio

[2018-02-03 18:46] jpignata commented on #34
Hi! The native CodePipeline -> ECS integration will only update the container definitions' `image` attribute so you cannot use it to manage environment variables. Luckily, you have a couple of other options:

- You can use a Lambda function instead to drive your deployment and do something similar to the above to edit both the `image` and `environment` attributes.
- If you're using CloudFormation

[2018-02-03 19:14] MarkPolivchuk commented on #34
Thank you for the quick response!

[2018-02-06 19:02] zmingxie opened #35 "Is AssignPublicIp required for Fargate?"
Hi there,

I'm new to ECS Fargate, and your template works great if I leave everything as default. However, I can't seem to bring up the Fargate task if I update this line to  `AssignPublicIp: DISABLED` https://github.com/awslabs/ecs-refarch-continuous-deployment/blob/master/templates/service.yaml#L66

From my understanding, ALB uses the VPC internal IP for forwarding traffic. Why do we have to  `

[2018-02-06 20:28] jpignata commented on #35
Hi! Fargate requires internet connectivity to pull the Docker image from ECR and to stream logs  to CloudWatch Logs. You don't need a public IP address necessarily - you could use a NAT Gateway or instance on a privats subnet instead. This reference architecture doesn't create that however so it does require `AssignPublicIp` to be `ENABLED`.

[2018-02-06 20:28] #35 closed

[2018-02-06 21:33] zmingxie commented on #35
You are absolutely right! I kept thinking the issue is between ALB and the Fargate ENI and totally forgot about the needs for NAT. Thanks @jpignata!

[2018-02-27 17:02] taraspos commented on #1
Hey, @jpignata are you sure that `UpdatePolicy` can be set to `Retain` for TaskDefinition resource?
`DeletePolicy` could, but it works only if stack deleted, but I couldn't find a way to set `UpdatePolicy`. Also, doc says:

[2018-02-27 20:10] jpignata commented on #1
You're right, no. I'm not sure what January 2017 me was thinking, but I don't think an UpdatePolicy would work here. I'd be curious to test a `DeletionPolicy` on the `TaskDefinition` resource to see if that would retain older task definition versions. Since we're not using CloudFormation to drive the deployment this question is largely moot. The native CodePipeline -> ECS integration will retain o

[2018-03-07 19:56] zipzit opened #37 "What do I do here? RocketShip is not intuitive..."
On the Running the Example, Step Number 2 Create the CloudFormation stack what to do isn't totally intuitive.  (I'm sitting in a class of folks who are this very minute going thru this example.)

![image](https://user-images.githubusercontent.com/4413134/37115138-29e2abec-21ff-11e8-9ea1-5661c5c04fe4.png)

`<a href="https://console.aws.amazon.com/cloudformation/home?region=us-east-1#/stacks/create/

[2018-03-12 13:57] jinty commented on #33
I'd just like to note that I've also been bitten by this. More of a chicken and egg situation: I need to define  a custom entry point, thus I really need a non-example container but I can't get that till the stack is loaded and the pipeline running.

[2018-03-13 12:40] jinty opened #38 "Image tagging method cannot be used with container repository lifecycle policies"
I am trying to setup a stack using you method of tagging images but adding in a container lifecycle policy on the repository to delete old images. Most images get tags so in order to delete them I am required to add a "tagPrefixList". adding a tag prefix list ["0", "1", "2", "3", "4", "5", "6", "7", "8", "9", "a", "b", "c", "d", "e", "f"] causes an "Internal Server Error" and timeout in cloudforma

[2018-03-30 16:59] jpignata commented on #37
Sure! Thanks for the feedback. I'd happily merge a pull that includes the changes you've proposed. I previously used a "Launch" button - happy to also merge a pull that reverts to that.

[2018-03-30 16:59] #37 closed

[2018-03-30 17:00] jpignata commented on #38
Hmm - interesting - what if you prefixed the tags in the build specification with `prod_` or somesuch and provided that as the tag prefix in the list?

[2018-03-30 17:05] jpignata commented on #33
Thanks @jinty. 😔 Wish I had a better answer here. In some ways, the flexibility of the CloudFormation approach driven by CodePipeline lends itself to a more reusable example.

[2018-03-31 01:27] SunlightJoe commented on #38
https://docs.aws.amazon.com/AmazonECR/latest/userguide/LifecyclePolicies.html#lp_tag_prefix_list

@jinty I think you're trying to do the opposite of what that does.

[2018-04-03 16:01] jinty commented on #38
On Fri, Mar 30, 2018 at 05:00:38PM +0000, John Pignata wrote:

@jpignata Yeah, that works! I added the prefix "commit-" which is
slightly more generic.

With such an easy workaround, I'll just close the issue. Unless you want
to add cleanup to the refarch?

--
Brian Sutherland

[2018-04-03 16:03] jinty commented on #38
On Fri, Mar 30, 2018 at 06:27:30PM -0700, Joe Hillenbrand wrote:

Yeah, I didn't read the docs thoroughly. Even so, it does not appear
possible to make a generic cleanup rule that will cleanup all images
regardless of their tags.

--
Brian Sutherland

[2018-04-03 16:50] jpignata commented on #38
You should be able to do this without a prefix. I think the field is required, but can be empty. I haven't had a chance to test this yet. The [walkthrough in the docs][0] explicitly specifies that the prefix list is optional.

[0]: https://docs.aws.amazon.com/AmazonECR/latest/userguide/lp_creation.html

[2018-04-03 19:09] SunlightJoe commented on #38
When I push this policy:
[code]

I get this error:
[code]

I also get different errors if I try `"tagPrefixList": [],` or `"tagPrefixList": [""],`

I've just put a `g` in front of all my tags and set `"tagPrefixList": ["g"],`. It's a hack but it's all I've got.

[2018-04-03 19:53] SunlightJoe commented on #33
I just wanted to let you know that I've spent the last couple week building this version of the CD pipeline. It seems to work fine and I'm pretty happy with it. I ended up using `Fn::ImportValue` a lot because the `ParameterOverrides` got so long it went over the 4096 character limit.

One major problem is that if I push a program that fails to launch but builds fine in docker (maybe because of a

[2018-04-04 14:37] jpignata commented on #33
Thanks, @SunlightJoe. Can you expand pon "merging the alternate implementation" suggestion? Are you suggesting moving back toward using CloudFormation for the deploy stage?

[2018-04-04 17:22] SunlightJoe commented on #33
https://github.com/awslabs/ecs-refarch-continuous-deployment/tree/3c62bd5c69402556c8307f987f38a389c9064651

Yes, that's the one I mean.

[2018-04-09 22:44] SunlightJoe commented on #33
I think I've found another solution.

When I was looking for a way to get around the stuck ECS service, somebody suggested setting the `DesiredCount` to 0. It worked! This gave me an idea.

I added a parameter for the `DesiredCount` that defaults to `0`. When first creating the pipeline, ecr, and ecs service, I leave it at the default and cloudformation creates the service without actually trying

[2018-05-10 03:31] benyanke opened #40 "Add fargate in it's new regions"
Not sure what is all involved in it, but just thought I'd add a ticket so it's tracked and done at some point!

[2018-05-11 14:14] irgeek commented on #1
I've just tested and can confirm that setting `DeletionPolicy: Retain` on the `AWS::ECS::TaskDefinition` resource _does not_ cause it to retain old revisions during the post-update cleanup phase.

[2018-05-13 00:13] lyoungblood opened #41 "Circular Dependency on ECR artifact"
This is such a powerful architectural pattern, @jpignata - especially with Fargate.

I just wanted to make you aware of a circular dependency issue.  I couldn't figure out an elegant workaround.  Since you are creating a brand new ECR repository that will have zero artifacts until you do a successful build, the ECS service will never complete creation because the task can't move from PENDING to RU

[2018-05-13 16:26] jpignata commented on #41
The template has an inelegant workaround in place whereby it first pulls a
generic container from Docker Hub. I hate this, but it worked for me in
testing. Did you see differently?

I suspect having a CloudFormation template in the pipeline to manage the
task definition and service is less problematic than the native
ECS/CodePipeline integration, FWIW.

On Sat, May 12, 2018 at 8:13 PM Luke Youngbl

[2018-05-14 17:57] lyoungblood commented on #41
Would you mind pointing out where in the code that workaround is?  I actually rewrote this entire architecture pattern into a single template so that I didn't have that issue that others faced if they wanted to update stack (where you lose the ability to change parameters as part of a stack update, or potentially have stack updates override parameters causing unexpected behavior).

[2018-05-14 18:02] lyoungblood commented on #41
I also agree about your second statement (having a CloudFormation template in the pipeline to manage the task definition and service) - it seems somewhat against the "infrastructure as code" paradigm to have a service like CodePipeline updating the task definition for you, as opposed to versioning that in source control like everything else.  Perhaps if I have enough free time I'll take a stab at

[2018-05-14 19:46] jpignata commented on #41
See
https://github.com/awslabs/ecs-refarch-continuous-deployment/issues/33 for
discussion on this.

On Mon, May 14, 2018 at 2:02 PM Luke Youngblood <notifications@github.com>
wrote:

[2018-05-14 22:40] lyoungblood commented on #41
Great!  That actually looks like a better option, to deploy with DesiredCount 0.  By merging all the nested templates into 1, I've already fixed the issue with parameter overrides in the nested templates getting overwritten by stack updates.

[2018-05-14 22:40] #41 closed

[2018-05-19 22:38] lyoungblood commented on #33
@SunlightJoe this seems like a great workaround, however, I ran into a strange issue:
- Launch the CFN with DesiredCount 0
- Wait until the first CodePipeline runs and builds an artifact that is tagged with the commit hash
- Update stack and change DesiredCount to 1
- Containers try to launch at this point, the artifact is there in ECR (tagged with the commit hash), and the task definition is upda

[2018-07-18 02:36] tonysneed opened #43 "Service Template for ASP.NET Core 2.1 Container"
I have a containerized ASP.NET Core 2.1 Web API with the following Dockerfile:

[code]

I need to update the `TaskDefinition` of service.yaml, but I need an example of the `ContainerDefinitions` section.  Would you be able to tell me where I could find one?

Thanks.

[2018-07-18 02:55] tonysneed opened #44 "Version Control for Templates"
How should one go about implementing version control for CF templates?  For example, would it be possible to create a CodePipeline that connects to a GitHub repo where the templates are stored and then push files to an S3 bucket?

[2018-07-18 09:20] Tehnix commented on #1
Did anyone ever managed to keep around the task definitions? Even if it's just a hacky solution, we'd be interested in hearing :)

[2018-07-20 19:01] diegom626 opened #45 "Wrong "path" in Launchconfiguration in /etc/cfn/hooks.d/cfn-auto-reloader.conf"
Hello, I'm kind of new into the Cloudformation helper-scripts. Correct me if i'm wrong, but i realized that in the conf file **"/etc/cfn/hooks.d/cfn-auto-reloader.conf"** the path should point to the actual resource logical id (LaunchConfiguration) and it should look like this:  path=Resources.LaunchConfiguration.Metadata.AWS::CloudFormation::Init

Thank you for uploading this project, it has help

[2018-07-25 17:33] Leoat12 opened #46 "Is it possible to use this architecture to deploy to ECS in another account?"
I would like to use a similar architecture to deploy my application to ECS in another account, that way I would have the source (in my case, CodeCommit) and CodeBuild project in one account and the deployment on an ECS in another account. I found something similar in [this article](https://aws.amazon.com/blogs/devops/aws-building-a-secure-cross-account-continuous-delivery-pipeline/?nc1=f_ls), but

[2018-07-26 18:21] joehillen commented on #46
You can. You just have to add a cross-account role as the [RoleArn](https://docs.aws.amazon.com/AWSCloudFormation/latest/UserGuide/aws-properties-codepipeline-pipeline-stages-actions.html#cfn-codepipeline-pipeline-stages-actions-rolearn) for the Actions like you do for Lambda, and the pipeline role needs permissions to assume that role.

[2018-07-26 18:30] Leoat12 commented on #46
@joehillen Thank you for the answer!
You mean here, right? Like in this snippet.
[code]
On ClusterName and ServiceName I put the ARN, right? Since it is in another account.

[2018-07-26 18:35] SunlightJoe commented on #46
No, you can use the simple names for the `ClusterName` and `ServiceName`. I don't know if the ARNs will work, it's worth a shot.

[2018-07-26 18:36] joehillen commented on #46
No, you can use the simple names for the `ClusterName` and `ServiceName`. I don't know if the ARNs will work, it's worth a shot.

[2018-07-26 18:53] Leoat12 commented on #46
Okay, I will try and I will give feedback here which one works. Thanks!

[2018-07-29 17:55] Leoat12 commented on #46
Sorry for asking one more question, but I think I'm stuck on the deploy stage.  I did exactly what I said above, I added the RoleArn on the deploy stage as illustrated below:
[code]
The pipeline goes just fine until the deploy stage where it gives this error:
Unable to access the artifact with Amazon S3 object key 'XXXX' located in the Amazon S3 artifact bucket 'YYYY'. The provided role does not h

[2018-07-29 18:46] Leoat12 commented on #46
I was able to make it work after deleting the role I was using above and redoing it with CloudFormation (have done the previous one with the visual editor). I don't know what was the difference exactly, but it worked. Very strange... Anyway, thank you for the help so far!

[2018-08-20 16:06] shrdaga opened #47 "Access to S3 is denied"
Access to S3 is denied. Can you provide the access to S3?

[2018-09-21 23:22] tiffanyfay commented on #47
This is fixed now. Thanks.

[2018-11-26 05:13] raviitsoft opened #48 "Is it possible to Add codeCommit this template?"
Hi!

Can you help me! How can add codeCommit instead for GitHub?

[2019-01-16 00:15] sworisbreathing opened #49 "Feature request: automated rollback of failed ECS deployment"
Hi folks,

Is it possible to update this with a reference implementation for automatically rolling back to a previous version when the ECS deployment fails? Better still, to also run a small smoke test and rollback if it fails as well.

[2019-01-25 14:38] taraspos commented on #1
AWS just released [UpdateReplacePolicy Attribute](https://docs.aws.amazon.com/en_us/AWSCloudFormation/latest/UserGuide/aws-attribute-updatereplacepolicy.html) which does exactly what we need :)

Basically `UpdateReplacePolicy: Retain` does the trick.

[2019-04-18 15:03] carter3d commented on #47
Looks like S3 access is denied again

[2019-04-18 17:40] tiffanyfay commented on #47
Thanks. Looking into it.

[2019-04-26 08:22] kkalavantavanich commented on #47
Facing the same issue.

[2019-04-26 20:12] tiffanyfay commented on #47
Thanks. I am hoping this will be resolved soon.

[2019-04-30 08:45] romafederico commented on #47
Template URLs should be changed to:
`https://https://s3-${AWS::Region}.amazonaws.com/${TemplateBucket}/templates/xxx.yaml`

[2019-05-06 23:08] tiffanyfay commented on #47
@kkalavantavanich @carter3d It should be fixed now!

@romafederico The path was not the issue. It's the s3 permissions.

[2019-05-07 02:58] vinoth-minkasu commented on #46
May I know something detail how it worked

[2019-05-14 15:06] vijay-khanna opened #51 "Template validation error: S3 error: Access Denied"
Am getting S3 Access denied error. Can you please check this.

[2019-05-14 15:08] khanna-vijay commented on #47
Am getting "Template validation error: S3 error: Access Denied". Can you please help for this.

[2019-05-14 18:01] tiffanyfay commented on #47
@vijay-khanna At what point are you getting this and what region? I just launched it in Virginia. Thanks.

[2019-05-14 18:05] khanna-vijay commented on #47
@tiffanyfay :

I get this just when i click "Deploy"- "Rocket Launcher Icon" for all regions on this page. https://github.com/awslabs/ecs-refarch-continuous-deployment

the error is :
Error
Template validation error: S3 error: Access Denied For more information check http://docs.aws.amazon.com/AmazonS3/latest/API/ErrorResponses.html

[2019-05-14 18:15] tiffanyfay commented on #47
@vijay-khanna Does your user have s3 permissions?

If you have your CLI set up, can you get the file?
`aws s3 cp s3://ecs-refarch-continuous-deployment/ecs-refarch-continuous-deployment.yaml`

[2019-05-14 18:22] khanna-vijay commented on #47
@tiffanyfay : I have logged in as Administrator, and have been able to launch other CloudFormation Templates.
This is the one i just launched for testing the access issue : https://github.com/awslabs/aws-full-stack-template.

It got deployed fine.

I guess your S3 bucket hosting this code is possibly disabled for Reads at Global level, with new S3 Permissions coming in recently.

i tried the comma

[2019-05-14 18:39] tiffanyfay commented on #47
@vijay-khanna It's not my bucket and belongs to another team. I'll look into it. Thanks.

[2019-05-15 18:09] tiffanyfay commented on #47
@vijay-khanna Can you try now? And yes, that amongst a few other things were enabled.

[2019-05-16 01:41] khanna-vijay commented on #47
@ tiffanyfay : This is working fine. Thanks for your help.

[2019-05-16 07:41] tommasodri commented on #48
this is my version of "deployment-pipeline.json" to work with codecommit:

`{
  "AWSTemplateFormatVersion": "2010-09-09",
  "Parameters": {
    "BranchName": {
      "Description": "CodeCommit branch name",
      "Type": "String"
    },
    "RepositoryName": {
      "Description": "CodeCommit repository name",
      "Type": "String"
    },
    "Cluster": {
      "Type": "String"
    },
    "Servic

[2019-05-16 16:36] tiffanyfay commented on #47
@vijay-khanna Great thanks!

[2019-11-17 20:00] 99887710 commented on #46
i also have a problem, like ''The cluster xxx does not exist', any idea? thanks

it seems like it doesn't assume that role correctly ???

[2020-04-07 08:50] azarboon commented on #46
I have same issue. I get "The AWS ECS cluster ****** does not exist." even though my pipeline role has enough permissions. Any one who can provide a working sample?

[2020-05-29 11:45] smrutiranjantripathy commented on #47
@tiffanyfay  I'm getting the same error.

[2020-05-29 17:20] tiffanyfay commented on #47
@smrutiranjantripathy Ugh not again :(. I left Amazon and don't have the contact of the people who got this fixed before.

@jpignata Could you contact the people you had referred me to previously? I didn't keep their emails. Thanks.

[2020-06-24 04:21] vijay-khanna opened #53 "You must specify a Stack ID. Displaying your Stacks page. S3 error: Access Denied"
This used to work fine till last week. today am getting S3 Error access denied.

"You must specify a Stack ID. Displaying your Stacks page. S3 error: Access Denied "

[2020-07-13 15:05] TheToddLuci0 commented on #47
Looks like the issue is back.

[2020-08-27 20:52] patricknazar commented on #53
I just noticed this, I believe the `bin/deploy <bucket-name>` script is designed to create and upload the stuff to a bucket. You'll have to set the `TemplateBucket` parameter to that bucket name. Haven't tested this

[2020-10-27 21:30] stocks29 commented on #46
I had to delete the action (temporarily remove from cloudformation/cdk) and then add it back in order to work around the "cluster does not exist" issue so it would respect the account/region props I added late. Still stuck on the permission issue mentioned here.

[2021-01-19 11:55] markotitel commented on #1
This is not supported for `AWS::ECS::TaskDefinition`. How did you test this?

[2021-01-19 12:00] taraspos commented on #1
@markotitel it works for me with the template like:
[code]
<img width="717" alt="Screen Shot 2021-01-19 at 1 59 07 PM" src="https://user-images.githubusercontent.com/9948629/105031876-9816f880-5a5e-11eb-96f6-5b4c42bd246a.png">

[2021-01-19 15:28] markotitel commented on #1
Getting back to confirm. It is working. @Trane9991